# Don't commit compiled mod libraries
*.so
*.so.*
*.o
*_map.txt

# Allow Half-Life-specific files that would otherwise be ignored
!libSDL2.so
!libSDL2-2.0.so.0
!libSDL2-2.0.so.0.dbg
!vgui.so
!release/vgui.so
